<div class="container">
  <!-- Navigation -->
	<div class="header">
		<nav>
		  <ul class="nav nav-pills float-right">
		    <li class="nav-item">
		      <a class="nav-link active" href="#">@abhishek <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="#">Contact</a>
		    </li>
		  </ul>
		</nav>
		<h3 class="text-muted">MEAN Project</h3>
	</div>

  <!-- Flexbox layout -->
  <div class="feature-container"> 
    <div class="d-flex justify-content-center features">
      <div class="p-3">
        <i class="fa fa-ravelry fa-2x text-muted" aria-hidden="true"></i>        
        <p><strong>HttpClient Error Handling <i class="fa fa-check-circle text-info" aria-hidden="true"></i> </strong></p>
        
      </div><!-- col -->
      <div class="p-3">
        <i class="fa fa-renren fa-2x text-muted" aria-hidden="true"></i>        
        <p><strong>Unit and Integration Test Enabled <i class="fa fa-check-circle text-info" aria-hidden="true"></i> </strong></p>
                
      </div><!-- col -->
      <div class="p-3">
        <i class="fa fa-reddit fa-2x text-muted" aria-hidden="true"></i>        
        <p><strong>Code Lint Enabled <i class="fa fa-check-circle text-info" aria-hidden="true"></i> </strong></p>
        
      </div><!-- col -->
      
    </div><!-- /d-flex -->

    <div class="d-flex justify-content-center features">
      <div class="p-3">
        <i class="fa fa-file-text fa-2x text-muted" aria-hidden="true"></i>        
        <p><strong>Documentation Ready <i class="fa fa-check-circle text-info" aria-hidden="true"></i></strong></p>
        
      </div><!-- col -->
      <div class="p-3">
        <i class="fa fa-file-code-o fa-2x text-muted" aria-hidden="true"></i>        
        <p><strong>Code Coverage Ready <i class="fa fa-check-circle text-info" aria-hidden="true"></i></strong></p>
        
      </div><!-- col -->
    </div>
  </div>
  
  <!-- Router Container -->
	<router-outlet></router-outlet>
</div>