<table class='table' *ngIf="taskList">
	<thead>
		<tr>
			<th>Status</th>
			<th>Title</th>
			<th>Operation</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let tk of taskList">
			<td>
				<input type="checkbox" checked="{{tk.isDone == 'true' ? 'check' : ''}}"
					(change)="onEditTask(tk, $event);">
			</td>
			<td>{{tk.title}}</td>
			<td>
				<button class="btn btn-sm btn-danger" (click)="onTaskDelete(tk._id)">
					Delete
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div *ngIf="errMsg.isError">
	<p class="`get-task-error text-danger" *ngIf="errMsg.getTaskErr.message">{{errMsg.getTaskErr.message}}</p>
	<p class="`new-task-error text-danger" *ngIf="errMsg.newTaskErr.message">{{errMsg.newTaskErr.message}}</p>
	<p class="`edit-task-error text-danger" *ngIf="errMsg.editTaskErr.message">{{errMsg.editTaskErr.message}}</p>
	<p class="`delete-task-error text-danger" *ngIf="errMsg.deleteTaskErr.message">{{errMsg.deleteTaskErr.message}}</p>
</div>

<div class="card">
  <h3 class="card-header">Add New Task</h3>
  <div class="card-block">
	<form 
		[formGroup]='addTaskForm' 
		(ngSubmit)="onNewTaskSubmit()">
		<div class="form-group">
			<input class="form-control" type="text" formControlName="title" />
		</div>
		<fieldset class="form-group">
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" id="complete" type="radio" 
						formControlName="isDone" value="true"> Completed
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" id="notComplete" type="radio" 
						formControlName="isDone" value="false"> Not Completed
				</label>
			</div>
		</fieldset>
		<button type="submit" class="btn btn-primary btn-sm">Add New Task</button>
	</form>
  </div>
</div>