<div class="container" >

	<div class="d-flex flex-row justify-content-center border-bottom">
		<div class="p-2 col-md-4"><strong>Status</strong></div>
		<div class="p-2 col-md-4"><strong>Title</strong></div>
		<div class="p-2 col-md-4"><strong>Operation</strong></div>
	</div>
	<div class="records" *ngIf="taskList.length">
		<div class="d-flex flex-row justify-content-center" *ngFor="let tk of taskList">
			<div class="p-2 col-md-4">

				<label class="btn btn-primary">
					<input type="checkbox" checked="{{tk.isDone == 'true' ? 'check' : ''}}"
						(change)="onEditTask(tk, $event);" autocomplete="off"> complete
				</label>

			</div>
			<div class="p-2 col-md-4">
				<p>{{tk.title}}</p>
			</div>
			<div class="p-2 col-md-4">
				<button class="btn btn-sm btn-danger" (click)="onTaskDelete(tk._id)">
					Delete
				</button>
			</div>
		</div>
		<!-- <div class="text-right">
			<button class="btn btn-default" (click)="onDeleteAll();">
				Delete All Tasks
			</button>
		</div> -->
	</div>

	<div *ngIf="!taskList.length">
		<p class="text-danger text-center">No Records Found!</p>
	</div>
</div>


<div *ngIf="errMsg.isError">
	<p class="`get-task-error text-danger" *ngIf="errMsg.getTaskErr.message">{{errMsg.getTaskErr.message}}</p>
	<p class="`new-task-error text-danger" *ngIf="errMsg.newTaskErr.message">{{errMsg.newTaskErr.message}}</p>
	<p class="`edit-task-error text-danger" *ngIf="errMsg.editTaskErr.message">{{errMsg.editTaskErr.message}}</p>
	<p class="`delete-task-error text-danger" *ngIf="errMsg.deleteTaskErr.message">{{errMsg.deleteTaskErr.message}}</p>
</div>

<div class="card">
  <h3 class="card-header">Add New Task</h3>
  <div class="card-block">
	<form 
		[formGroup]='addTaskForm' 
		(ngSubmit)="onNewTaskSubmit()">
		<div class="form-group">
			<input class="form-control" type="text" formControlName="title" />
		</div>
		<fieldset class="form-group">
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" id="complete" type="radio" 
						formControlName="isDone" value="true"> Completed
				</label>
			</div>
			<div class="form-check">
				<label class="form-check-label">
					<input class="form-check-input" id="notComplete" type="radio" 
						formControlName="isDone" value="false"> Not Completed
				</label>
			</div>
		</fieldset>
		<button type="submit" class="btn btn-primary btn-sm">Add New Task</button>
	</form>
  </div>
</div>